/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
.feature-image-container-full {
  background-position: center;
  background-size: cover;
  min-height: 300px;
  height: 100%;
}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/