/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
body.admin-bar {
  header .header-container .main-navigation .nav-menu {
    @media (max-width : $screen-md) {
      top: $header-height + $adminbar;
    }
  }
}

header {
  .header-container {
    .site-branding {
      @media (max-width : $screen-md) {
        width: 70%;
      }
    }

    .main-navigation {
      @media (max-width : $screen-md) {
        width: 30%;

        button {
          background: $white;
          border: 0;
          box-shadow: 0 0 0 0 $white, 0 0 0 0 $white;
          cursor: pointer;
          height: 52px;
          line-height: 52px;
          padding: 0;
          position: absolute;
          right: 0;
          width: 100px;
          transition: 0.25s ease-in-out;
          z-index: 100;

          .hamburger-text {
            right: 45px;
            position: absolute;
            text-transform: uppercase;
            top: 0;
          }

          .hamburger {
            position: absolute;
            right: 0;
            width: 30px;
            height: 2px;
            background: $black;
            display: block;
            transform-origin: center;
            transition: 0.25s ease-in-out;

            &:after,
            &:before {
              transition: 0.25s ease-in-out;
              content: "";
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;
              background: $black;
            }

            &:before {
              top: -10px;
            }

            &:after {
              bottom: -10px;
            }
          }
        }

        .nav-menu {
          background-color: $white;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          z-index: 200;
          position: absolute;
          text-align: center;
          top: 83px;
          left: 0;
          opacity: 0;
          transition: 0.25s 0s ease-in-out;
          width: 100%;

          li {
            margin-left: 0;

            a {
              padding: 1.5rem 0;
            }
          }

          ul.sub-menu {
            background: $gray;
            width: 100%;

            a {
              color: $text-black;
            }
          }
        }

        &.toggled {
          .hamburger {
            transform: rotate(45deg);

            &:after {
              transform: rotate(90deg);
              bottom: 0;
            }

            &:before {
              transform: rotate(90deg);
              top: 0;
            }
          }

          ul.nav-menu {
            opacity: 1;
          }
        }
      }
    }
  }
}
/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
.feature-image-container-full {
  background-position: center;
  background-size: cover;
  min-height: 300px;
  height: 100%;
}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/